table, td, tr{
    text-align: center;
   border: 1px white; 
}
body{
    color: aliceblue;
    background-color: black;
    
    text-align: center;
    display: flexbox;
    font-family: font;

}

.listtop {
    text-align: center;
  }
.listtop > ul {
    display: inline-block;
}


table {
     margin: auto;
     margin-top: auto;
     margin-bottom: auto;
     color: aliceblue;
     border-color: whitesmoke;
}

.construction {
    display: flex;
    flex: auto;
}

.index{
    text-align: center;
}

.contact{

    display: flex;
    flex-direction: column;
    align-items: center;
}


ul {
    font-weight: 900;
}

@font-face { 
    font-family: font;
  src: url(image/fonts/roboto/static/RobotoMono-Regular.ttf);
}